<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m.property">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_dream"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/property_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".login.SignUpActivity" />
        <activity
            android:name=".login.SigninActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".login.OTP_verify" />
        <activity android:name=".login.New_Password" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".addProperty.ImageActivity"/>
        <activity android:name=".home.HomeActivity" />
        <activity
            android:name=".home.DetailsActivity"
            android:parentActivityName=".home.HomeActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".home.HomeActivity"></activity>
        <activity android:name=".addProperty.AddPropertyActivity" android:parentActivityName=".home.HomeActivity"></activity>

    </application>

</manifest>